<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Categories</title>
</head>
<body>
<h1>Categories List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>code</th>
    </tr>
    <tr th:each="category:${categories}">
        <td th:text="${category.id}">123</td>
        <td th:text="${category.name}">Jhon</td>
        <td th:text="${category.code}">Doe</td>
        <!--<td>
            <table>
                <tr th:each="contract:${category.contracts}">
                    <td th:text="${contract.id}">123</td>
                    <td th:text="${contract.initDate}">Jhon</td>
                </tr>
            </table>
        </td>-->
    </tr>
</table>

</body>
</html>