<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Items</title>
</head>
<body>
<h1>Item List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Item</th>
        <th>Subcategory</th>
        <th>Category</th>
    </tr>
    <tr th:each="item:${items}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.subCategory.name}"></td>
        <td th:text="${item.subCategory.category.name}"></td>
        <!--<td>
            <table>
                <tr th:each="contract:${employee.contracts}">
                    <td th:text="${contract.id}">123</td>
                    <td th:text="${contract.initDate}">Jhon</td>
                </tr>
            </table>
        </td>-->
    </tr>
</table>

</body>
</html>